.version.index /* version checker */
{
	color: #0000F7;
	background-color: #E3D093;
}

.html
{
	background: #FFFFFF url("../images/fondo.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 528px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pmenuu102
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 93px;
}

#menuu102
{
	z-index: 2;
	width: 333px;
}

#u110
{
	width: 109px;
	min-height: 34px;
	margin-right: -10000px;
}

#u111
{
	width: 105px;
	padding-bottom: 13px;
}

#u111:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u111.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u112-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u111:hover #u112-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 111px;
}

#u186
{
	width: 106px;
	padding-bottom: 13px;
}

#u186:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u111.MuseMenuActive #u112-4,#u186:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u192
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 223px;
}

#u195
{
	width: 106px;
	padding-bottom: 13px;
}

#u186.MuseMenuActive,#u195:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u195.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u197-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u186.MuseMenuActive #u188-4,#u195:hover #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u195.MuseMenuActive #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u141
{
	z-index: 23;
	width: 318px;
	background-color: transparent;
	margin-top: 70px;
	position: relative;
}

#pu216
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-left: 387px;
}

#u216
{
	z-index: 21;
	width: 97px;
	margin-left: 476px;
}

#u217
{
	z-index: 21;
	width: 97px;
	margin-left: 476px;
	background-color: transparent;
	position: relative;
}

#pu184-21
{
	width: 0.01px;
	margin-top: -1px;
}

#u184-21
{
	z-index: 25;
	width: 254px;
	min-height: 625px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 305px;
}

#u184-2
{
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 8px;
	padding-top: 8px;
}

#u184-8
{
	padding-bottom: 8px;
	padding-top: 8px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u184-4
{
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}

#u184-3,#u184-6
{
	font-size: 18px;
	line-height: 22px;
}

#u184-7
{
	line-height: 17px;
}

#u184-10,#u184-14,#u184-19
{
	padding-bottom: 8px;
	padding-top: 8px;
}

#u184-12,#u184-16
{
	font-weight: bold;
}

#u344
{
	z-index: 46;
	width: 362px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u305
{
	z-index: 47;
	width: 251px;
	height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#widgetu264
{
	z-index: 48;
	width: 0.01px;
	height: 610px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 22px;
}

#widgetu301
{
	z-index: 49;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu301.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u303-4
{
	z-index: 50;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	color: #6B6B6B;
	font-size: 11px;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu301.fld-err-st #u303-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u302-4
{
	z-index: 54;
	width: 198px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 11px;
	color: #C4C4C4;
	font-size: 11px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu301.non-empty-st #u302-4
{
	background-color: #FFFFFF;
}

#widgetu301:hover #u302-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu301.focus-st #u302-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu301.non-empty-st #u302-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu301:hover #u302-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu301.focus-st #u302-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u304-4
{
	z-index: 58;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#widgetu289
{
	z-index: 62;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu289.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u290-4
{
	z-index: 63;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	color: #6B6B6B;
	font-size: 11px;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u292-4
{
	z-index: 67;
	width: 198px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 11px;
	color: #C4C4C4;
	font-size: 11px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu289.non-empty-st #u292-4
{
	background-color: #FFFFFF;
}

#widgetu289:hover #u292-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu289.focus-st #u292-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu289.non-empty-st #u292-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu289:hover #u292-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu289.focus-st #u292-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u291-4
{
	z-index: 71;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#widgetu277
{
	z-index: 75;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu277.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u279-4
{
	z-index: 76;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 11px;
	color: #6B6B6B;
	font-size: 11px;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u280-4
{
	z-index: 80;
	width: 198px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 11px;
	color: #C4C4C4;
	font-size: 11px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu277.non-empty-st #u280-4
{
	background-color: #FFFFFF;
}

#widgetu277:hover #u280-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu277.focus-st #u280-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu277.non-empty-st #u280-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu277:hover #u280-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu277.focus-st #u280-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u278-4
{
	z-index: 84;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#widgetu273
{
	z-index: 88;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: -1px;
}

#widgetu273.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 176px -10000px 0px 0px;
}

#u276-4
{
	z-index: 89;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 11px;
	color: #6B6B6B;
	font-size: 11px;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u275-4
{
	z-index: 93;
	width: 198px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 11px;
	color: #C4C4C4;
	font-size: 11px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu273.non-empty-st #u275-4
{
	background-color: #FFFFFF;
}

#widgetu273:hover #u275-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu273.focus-st #u275-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu273.non-empty-st #u275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu273:hover #u275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu273.focus-st #u275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u274-4
{
	z-index: 97;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#widgetu281
{
	z-index: 101;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: -1px;
}

#widgetu281.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 232px -10000px 0px 0px;
}

#u282-4
{
	z-index: 102;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 11px;
	color: #6B6B6B;
	font-size: 11px;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u284-4
{
	z-index: 106;
	width: 198px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 11px;
	color: #C4C4C4;
	font-size: 11px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu281.non-empty-st #u284-4
{
	background-color: #FFFFFF;
}

#widgetu281:hover #u284-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu281.focus-st #u284-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu281.non-empty-st #u284-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu281:hover #u284-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu281.focus-st #u284-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u283-4
{
	z-index: 110;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#widgetu269
{
	z-index: 114;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: -1px;
}

#widgetu269.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 288px -10000px 0px 0px;
}

#u272-4
{
	z-index: 115;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 11px;
	color: #6B6B6B;
	font-size: 11px;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu289.fld-err-st #u290-4,#widgetu277.fld-err-st #u279-4,#widgetu273.fld-err-st #u276-4,#widgetu281.fld-err-st #u282-4,#widgetu269.fld-err-st #u272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u270-4
{
	z-index: 119;
	width: 198px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 11px;
	color: #C4C4C4;
	font-size: 11px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu269.non-empty-st #u270-4
{
	background-color: #FFFFFF;
}

#widgetu269:hover #u270-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu269.focus-st #u270-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu301.fld-err-st #u302-4,#widgetu289.fld-err-st #u292-4,#widgetu277.fld-err-st #u280-4,#widgetu273.fld-err-st #u275-4,#widgetu281.fld-err-st #u284-4,#widgetu269.fld-err-st #u270-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 198px;
	margin: 19px -10000px -1px 0px;
}

#widgetu269.non-empty-st #u270-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu269:hover #u270-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu269.focus-st #u270-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u271-4
{
	z-index: 123;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#widgetu301_input,#widgetu301_prompt,#widgetu289_input,#widgetu289_prompt,#widgetu277_input,#widgetu277_prompt,#widgetu273_input,#widgetu273_prompt,#widgetu281_input,#widgetu281_prompt,#widgetu269_input,#widgetu269_prompt
{
	width: 198px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-size: 11px;
	font-style: italic;
	padding: 6px;
}

#widgetu301.focus-st #widgetu301_prompt,#widgetu289.focus-st #widgetu289_prompt,#widgetu277.focus-st #widgetu277_prompt,#widgetu273.focus-st #widgetu273_prompt,#widgetu281.focus-st #widgetu281_prompt,#widgetu269.focus-st #widgetu269_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu301:hover #widgetu301_input,#widgetu301.focus-st #widgetu301_input,#widgetu301.fld-err-st #widgetu301_input,#widgetu301:hover #widgetu301_prompt,#widgetu301.fld-err-st #widgetu301_prompt,#widgetu289:hover #widgetu289_input,#widgetu289.focus-st #widgetu289_input,#widgetu289.fld-err-st #widgetu289_input,#widgetu289:hover #widgetu289_prompt,#widgetu289.fld-err-st #widgetu289_prompt,#widgetu277:hover #widgetu277_input,#widgetu277.focus-st #widgetu277_input,#widgetu277.fld-err-st #widgetu277_input,#widgetu277:hover #widgetu277_prompt,#widgetu277.fld-err-st #widgetu277_prompt,#widgetu273:hover #widgetu273_input,#widgetu273.focus-st #widgetu273_input,#widgetu273.fld-err-st #widgetu273_input,#widgetu273:hover #widgetu273_prompt,#widgetu273.fld-err-st #widgetu273_prompt,#widgetu281:hover #widgetu281_input,#widgetu281.focus-st #widgetu281_input,#widgetu281.fld-err-st #widgetu281_input,#widgetu281:hover #widgetu281_prompt,#widgetu281.fld-err-st #widgetu281_prompt,#widgetu269:hover #widgetu269_input,#widgetu269.focus-st #widgetu269_input,#widgetu269.fld-err-st #widgetu269_input,#widgetu269:hover #widgetu269_prompt,#widgetu269.fld-err-st #widgetu269_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu301.non-empty-st #widgetu301_prompt,#widgetu289.non-empty-st #widgetu289_prompt,#widgetu277.non-empty-st #widgetu277_prompt,#widgetu273.non-empty-st #widgetu273_prompt,#widgetu281.non-empty-st #widgetu281_prompt,#widgetu269.non-empty-st #widgetu269_prompt
{
	visibility: hidden;
}

#u267-4
{
	z-index: 127;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu264.frm-sub-st #u267-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u265-4
{
	z-index: 131;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu264.frm-subm-err-st #u265-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u268-4
{
	z-index: 135;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu264.frm-sub-st #u267-4,#widgetu264.frm-subm-err-st #u265-4,#widgetu264.frm-subm-ok-st #u268-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu264.frm-subm-ok-st #u268-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u266-17
{
	z-index: 139;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	background: url("../images/u266-17.png") no-repeat 0px 0px;
}

#u266-17:hover
{
	background: url("../images/u266-17-r.png") no-repeat 0px 0px;
}

#u266-17:active
{
	background: url("../images/u266-17-m.png") no-repeat 0px 0px;
}

#widgetu264.frm-sub-st #u266-17
{
	background: url("../images/u266-17-fs.png") no-repeat 0px 0px;
}

#widgetu308
{
	z-index: 156;
	width: 340px;
	height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 357px;
}

#widgetu308.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 357px -10000px 0px 0px;
}

#u311-6
{
	z-index: 157;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 11px;
	color: #6B6B6B;
	font-size: 11px;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 26px;
}

#widgetu308.fld-err-st #u311-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 3px -10000px 0px 0px;
}

#widgetu301.fld-err-st #u303-4 p,#widgetu301.fld-err-st #u303-4 span,#widgetu289.fld-err-st #u290-4 p,#widgetu289.fld-err-st #u290-4 span,#widgetu277.fld-err-st #u279-4 p,#widgetu277.fld-err-st #u279-4 span,#widgetu273.fld-err-st #u276-4 p,#widgetu273.fld-err-st #u276-4 span,#widgetu281.fld-err-st #u282-4 p,#widgetu281.fld-err-st #u282-4 span,#widgetu269.fld-err-st #u272-4 p,#widgetu269.fld-err-st #u272-4 span,#widgetu308.fld-err-st #u311-6 p,#widgetu308.fld-err-st #u311-6 span,#widgetu308.fld-err-st #u311-6 a
{
	color: #D7244C;
}

#u311-2
{
	color: #E63A5B;
}

#u310-4
{
	z-index: 163;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#widgetu301.fld-err-st #u304-4,#widgetu289.fld-err-st #u291-4,#widgetu277.fld-err-st #u278-4,#widgetu273.fld-err-st #u274-4,#widgetu281.fld-err-st #u283-4,#widgetu269.fld-err-st #u271-4,#widgetu308.fld-err-st #u310-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu301.fld-err-st #u302-4 *,#widgetu301.fld-err-st #u304-4 p,#widgetu289.fld-err-st #u292-4 *,#widgetu289.fld-err-st #u291-4 p,#widgetu277.fld-err-st #u280-4 *,#widgetu277.fld-err-st #u278-4 p,#widgetu273.fld-err-st #u275-4 *,#widgetu273.fld-err-st #u274-4 p,#widgetu281.fld-err-st #u284-4 *,#widgetu281.fld-err-st #u283-4 p,#widgetu269.fld-err-st #u270-4 *,#widgetu269.fld-err-st #u271-4 p,#widgetu308.fld-err-st #u310-4 p
{
	color: #D7244C;
	font-style: italic;
}

#u312
{
	z-index: 167;
	width: 16px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u312 input.checked + label
{
	background: transparent url("../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u312 input:checked + label
{
	background: transparent url("../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u312 input.not_checked + label
{
	background: #0071BC url("../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u312 input:not(:checked) + label
{
	background: #0071BC url("../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u312 input.not_checked:hover + label
{
	margin: 0px -10000px 0px 0px;
	background: #0071BC url("../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u312 input:not(:checked):hover + label
{
	margin: 0px -10000px 0px 0px;
	background: #0071BC url("../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u312 input.checked:hover + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u312 input:checked:hover + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u312 input.not_checked:active + label
{
	margin: 0px -10000px 0px 0px;
	background: #0071BC url("../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u312 input:not(:checked):active + label
{
	margin: 0px -10000px 0px 0px;
	background: #0071BC url("../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u312 input.checked:active + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u312 input:checked:active + label
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu308_input
{
	width: 16px;
	height: 16px;
}

#u306
{
	z-index: 168;
	width: 251px;
	border-style: none;
	border-color: transparent;
	background-color: #E63A5B;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u307-4
{
	z-index: 169;
	width: 189px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 22px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

